:root {
  --primaryColor: #E6B970;
  --secondaryColor: #121111;
}

body {
  margin: 0;
  font-family: 'Playfair Display';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondaryColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center-container {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 1px solid red; */
}